section#author
	.container
		+gt('general-title-white','ЖАННА АБРАМОВА')
		img.janna(src=path+"img/images/janna.png", alt="Жанна Абрамова")
		.row
			.col-md-5.col-sm-6.col-md-offset-1.col-sm-offset-0
				ul.author-list
					li Клинический психолог, гештальт-терапевт, гипнотерапевт
					li Коуч, тренер обучающих и трансформационных программ
					li Мастер метафорических карт (МАК), системно-родовой терапии, технологии мгновенного исцеления, регрессивного гипноза
			.col-md-5.col-sm-6
				ul.author-list
					li Мастер практической психологии и технологий осознанности
					li Мастер НЛП и ДСТ. Педагог Международного института интеграционного развития
					li Процессор техник РПТ, тетахилинга, субклеточной психобиологии, терапевт психохирургии и новой германской медицины
		.row
			.col-md-10.col-sm-12.col-md-offset-1.col-sm-offset-0
				ul.author-list
					li Автор курсов по новой системной психологии, МАК, системной терапии, психохирургии, коучинга, НЛП, акмеологии, курсов по женской соматике и психологии
		+gt('general-title-white general-title-author-2','Сертификаты, дипломы и регалии тренера')
		.row
			.col-md-4.col-sm-4
				a.cert-link(href=path+"img/certs/cert-1.jpg" data-fancybox="certs")
					img.cert-img(src=path+"img/certs/cert-1.min.jpg" alt="Сертификат 1") 
			.col-md-4.col-sm-4
				a.cert-link(href=path+"img/certs/cert-2.jpg" data-fancybox="certs")
					img.cert-img(src=path+"img/certs/cert-2.min.jpg" alt="Сертификат 2")